### {{ ansible_managed }}

reporting-disabled = {{ influxdb_reporting_disabled | bool | lower }}

{% if influxdb_use_hostname %}
hostname = "{{ influxdb_hostname }}"
{% endif %}

[meta]
  dir = "{{ influxdb_meta_data_dir | bool | lower }}"
  retention-autocreate = {{ influxdb_meta_retention_autocreate | bool | lower }}
  logging-enabled = {{ influxdb_meta_logging_enabled | bool | lower }}

[data]

  dir = "{{ influxdb_data_dir }}"
  wal-dir = "{{ influxdb_data_wal_dir }}"
  trace-logging-enabled = {{ influxdb_data_trace_logging_enabled | bool | lower }}
  query-log-enabled = {{ influxdb_data_data_query_log_enabled | bool | lower }}
  cache-max-memory-size = {{ influxdb_data_cache_max_memory_size }}
  cache-snapshot-memory-size = {{ influxdb_data_cache_snapshot_memory_size }}
  cache-snapshot-write-cold-duration = "{{ influxdb_data_cache_snapshot_write_cold_duration }}"
  compact-full-write-cold-duration = "{{ influxdb_data_compact_full_write_cold_duration }}"
max-series-per-database = {{ influxdb_data_max_series_per_database }}
max-values-per-tag = {{ influxdb_data_max_values_per_tag }}

{% if influxdb_coordinator %}
[coordinator]
  write-timeout = "{{ influxdb_coordinator_write_timeout }}"
  max-concurrent-queries = {{ influxdb_coordinator_max_concurrent_queries }}
  query-timeout = "{{ influxdb_coordinator_query_timeout }}"
  log-queries-after = "{{ influxdb_coordinator_log_queries_after }}"
  max-select-point = {{ influxdb_coordinator_max_select_point }}
  max-select-series = {{ influxdb_coordinator_max_select_series }}
  max-select-buckets = {{ influxdb_coordinator_max_select_buckets }}
{% endif %}

[retention]
  enabled = {{ influxdb_retention_enabled | bool | lower }}
  check-interval = "{{ influxdb_retention_check_interval }}"

[shard-precreation]
  enabled = {{ influxdb_shard_precreation_enabled | bool | lower }}
  check-interval = "{{ influxdb_shard_precreation_check_interval }}"
  advance-period = "{{ influxdb_shard_precreation_advance_period }}"

[monitor]
  store-enabled = {{ influxdb_monitor_store_enabled | bool | lower }}
  store-database = "{{ influxdb_monitor_store_database }}"
  store-interval = "{{ influxdb_monitor_store_interval }}"

[admin]
  enabled = {{ influxdb_admin_enabled | bool | lower}}
  bind-address = "{{ influxdb_admin_bind_address }}"
  https-enabled = {{ influxdb_admin_https_enabled | bool | lower }}
  https-certificate = "{{ influxdb_admin_https_certificate }}"

[http]
  enabled = {{ influxdb_http_enabled | bool | lower }}
  bind-address = "{{ influxdb_http_bind_address }}"
  auth-enabled = {{ influxdb_http_auth_enabled | bool | lower }}
  realm = "{{ influxdb_http_realm }}"
  log-enabled = {{ influxdb_http_log_enabled | bool | lower }}
  write-tracing = {{ influxdb_http_write_tracing | bool | lower }}
  pprof-enabled = {{ influxdb_http_pprof_enabled | bool | lower }}
  https-enabled = {{ influxdb_http_https_enabled | bool | lower }}
  https-private-key = "{{ influxdb_http_https_private_key }}"
https-certificate = "{{ influxdb_http_https_certificate }}"
  shared-sercret = "{{ influxdb_http_https_shared_secret }}"
  max-row-limit = {{ influxdb_http_max_row_limit }}
  max-connection-limit = {{ influxdb_http_max_connection_limit }}
  unix-socket-enabled = {{ influxdb_http_unix_socket_enabled | bool | lower }}
  bind-socket = "{{ influxdb_http_bind_socket }}"

[subscriber]
  enabled = {{ influxdb_subscriber_enabled }}
  http-timeout = "{{ influxdb_subscriber_http_timeout }}"
  insecure-skip-verify = {{ influxdb_subscriber_insecure_skip_verify | bool | lower }}
  ca-certs = "{{ influxdb_subscriber_ca_certs }}"
  write-concurrency = {{ influxdb_subscriber_write_concurrency }}
  write-buffer-size = {{ influxdb_subscriber_write_buffer_size }}

[[graphite]]
  enabled = {{ influxdb_graphite_enabled | bool | lower }}
  {% if influxdb_graphite_enabled %}
  database = "{{ influxdb_graphite_database }}"
  bind-address = "{{ influxdb_graphite_bind_address }}"
  protocol = "{{ influxdb_graphite_protocol }}"
  consistency-level = "{{ influxdb_graphite_consistency_level }}"
  batch-size = {{ influxdb_graphite_batch_size }}
  batch-pending = {{ influxdb_graphite_batch_pending }}
  batch-timeout = "{{ influxdb_graphite_batch_timeout }}"
  udp-read-buffer = {{ influxdb_graphite_udp_read_buffer }}

{% if influxdb_graphite_separator is defined %}
  separator = "{{ influxdb_graphite_separator }}"
{% endif %}

  tags = [{% for tag in influxdb_graphite_tags %}"{{ tag }}"    {% if not loop.last %},{% endif %}{% endfor %}]

  templates = [
{% for template in influxdb_graphite_templates %}
  "{{ template }}"
  {% endfor %}
  ]
{% endif %}

[[collectd]]
  enabled = {{ influxdb_collectd_enabled | bool | lower }}
{% if influxdb_collectd_enabled == true %}
  bind-address = "{{ influxdb_collectd_bind_address }}"
  database = "{{ influxdb_collectd_database }}"
  retention-policy = "{{ influxdb_collectd_retention_policy }}"
  typesdb = "{{ influxdb_collectd_typesdb }}"

  security-level = "{{ influxdb_collectd_security_level }}"
  auth-file = "{{ influxdb_collectd_auth_file }}"

  batch-size = {{ influxdb_collectd_batch_size }}
  batch-pending = {{ influxdb_collectd_batch_pending }}
  batch-timeout = "{{ influxdb_collectd_batch_timeout }}"
  read-buffer = {{ influxdb_collectd_read_buffer }}

{% endif %}

[[opentsdb]]
  enabled = {{ influxdb_opentsdb_enabled | bool | lower }}
{% if influxdb_opentsdb_enabled == true %}
  bind-address = "{{ influxdb_opentsdb_bind_address }}"
  database = "{{ influxdb_opentsdb_database }}"
  retention-policy = "{{ influxdb_opentsdb_retention_policy }}"
  consistency-level = "{{ influxdb_opentsdb_consistency_level }}"
  tls-enabled = {{ influxdb_opentsdb_tls_enabled | bool | lower }}
  certificate = "{{ influxdb_opentsdb_certificate }}"
  log-point-errors = {{ influxdb_opentsdb_log_point_errors }}
  batch-size = {{ influxdb_opentsdb_batch_size }}
  batch-pending = {{ influxdb_opentsdb_batch_pending }}
  batch-timeout = "{{ influxdb_opentsdb_batch_timeout }}"
{% endif %}

[[udp]]
  enabled = {{ influxdb_udp_enabled | bool | lower }}
  bind-address = "{{ influxdb_udp_bind_address }}"
  database = "{{ influxdb_udp_database }}"
  retention-policy = "{{ influxdb_udp_retention_policy }}"
{% if influxdb_udp_enabled == true %}
  batch-size = {{ influxdb_udp_batch_size }}
  batch-pending = {{ influxdb_udp_batch_pending }}
  batch-timeout = {{ influxdb_udp_batch_batch_timeout }}
  read-buffer = {{ influxdb_udp_read_buffer }}
{% endif %}

[continuous_queries]
  log-enabled = {{ influxdb_continuous_queries_log_enabled | bool | lower }}
  enabled = {{ influxdb_continuous_queries_enabled | bool | lower }}
  run-interval = "{{ influxdb_continuous_queries_run_interval }}"
